*{
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-around;
    background-color: cornflowerblue;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-column-gap: 50px; */
    /* margin: 0 10px 0 10px; */
}

.htmlcard {
    border: 3px solid coral;
    /* margin: 50px; */
     /* margin: 0 0 10px 0; */
     
    }
    
    .label-wrapper {
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 10px; */
    background-color: blanchedalmond;
    justify-items: end;

}

label {
    padding: 1em;
}


.component-name {
    background: rebeccapurple;

}

.object-keys {
    color: aquamarine;
}

.object-values {
    color: burlywood;
}

select {
    margin: 20px;
    
}

.htmlcard button {
    color: blue;
    transition: 3s;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 12px;
    font-style: italic;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
    /* margin-left: 4px; */
}

.htmlcard button:hover {
    background-color: chartreuse;
    transition: 3s;
}