.filter {
    filter: url(#f)
}

*{
    box-sizing: border-box;
}

body {
    margin: 0 8px;
}

nav {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'> <rect  width='10' height='10' fill='rebeccapurple' stroke='chartreuse'/> <circle cx='5' cy='5' r='4' fill='slateblue'  /></svg>");
    padding: .1em;
}

ul {
    padding: 0;
    display: flex;
    justify-content: start;
}
li {
    display: inline-block;
    padding: 1em;
    background-color: chocolate;
    margin-right: 10px;
    border-radius: 4px;
    color: slateblue;
}

a {
    text-decoration: none;
    font-size: 1em;
}

.svg-icon {
  top: .125em;
  position: relative;
  margin-right: 2px;
  fill: currentColor;
}

input {
    /* border: 5px solid white;  */
    /* box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);  */
    /* padding: 15px; */
    /* background: rgba(255,255,255,0.5); */
    /* margin: 0 0 10px 0; */
}

 select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
   background: tomato;
}

option {
    background-color: red;
}

select:focus, input:focus {outline:0;}

.select-wrapper {
    display: flex;
    justify-content: space-around;
}

.input-style {
    /* margin: 10px; */
    padding: .5em;
    border-radius: .2em;
    border: none;
}


.flex {
    display: flex;
    justify-content: space-around;
    background-color: cornflowerblue;
    padding: .5em;
}

.html-label-wrapper {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns:  1fr;
    grid-gap: 5px;
    /* margin: 0 10px 0 10px; */
}

.htmlcard {
    border: 3px solid coral;
    background-color: slateblue;
   border-radius: 5px;
     
    }
    
    .label-wrapper {
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 10px; */
    /* background-color: green; */
    justify-items: end;
    
}

.label-wrapper2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* width: 35vw; */
    /* margin: 10px; */
    background-color: slateblue;
    justify-items: end;
    
}

label {
    padding: 1em;
}

/* #SourceGraphicEditor {
    transform: translateX(-0%);
    position: absolute;
    top: 250px;
    z-index: 10;
} */


.component-name {
    background: rebeccapurple;
    padding: .5em;

}

.object-keys {
    color: aquamarine;
}

.object-values {
    color: burlywood;
}

select {
    margin: 50px 0 0 20px;
    
}

.htmlcard button {
    color: blue;
    transition: 3s;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 0 16px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
    /* margin-left: 4px; */
}

.htmlcard button:hover {
    background-color: chartreuse;
    transition: 3s;
}


#sourceGraphic {
    position: sticky;
    top: 0;
    /* height: auto; */
    /* width: 300px; */
    margin-right: 1rem;
    border: 3px solid coral;
}



.rep-svg-wrapper {
    display: grid;
    grid-template-columns: 35vw 1fr;
    grid-column-gap: 1rem

}

@media (max-width: 1100px) {
    svg {
        /* border: 1px solid red; */
    }
    
    
    
    .grid {
        /* display: grid; */
        grid-template-columns: 1fr;
    }
}

    @media (max-width: 910px) {

            .rep-svg-wrapper {
    /* display: grid; */
    grid-template-columns: 1fr;
    

    }

    }

